// Icon
.icon
	&:before
		font icon-size--small font-icon
	&.icon-home
		&:before
			content '\f015'
	&.icon-back
		&:before
			content '\f177' 
	&.icon-slideshare
		&:before
			content '\f1e7' 

// Text Color
.text-font 
	color color-font
.text-meta 
	color color-meta
.text-link 
	color color-link
.text-title 
	color color-title
.text-subtitle
	color color-subtitle
.text-light
	color color-ligth