// Icon
.icon
	&:before
		font icon-size--small font-icon
	&.icon-home
		&:before
			content '\f015'
	&.icon-back
		&:before
			content '\f177' 
	&.icon-slideshare
		&:before
			content '\f1e7'
	&.icon-arrow-up
		&:before
			content '\f176'
	&.icon-cloud
		&:before
			content '\f0c2'
	&.icon-right
		&:before
			content '\f105'
	&.icon-facebook
		&:before
			color #4267B2
			content '\f082'
	&.icon-twitter
		&:before
			color #00acee
			content '\f081'
	&.icon-instagram
		&:before
			color #8a3ab9
			content '\f16d'
	&.icon-linkedin
		&:before
			color #0072b1
			content '\f08c'
	&.icon-github
		&:before
			color #171515
			content '\f092'
	&.icon-envelope
		&:before
			color #DB4437
			content '\f0e0'
	&.icon-social
		&:before
			content '\f045'
	&.icon-cupe
		&:before
			content '\f1b2'
	&.icon-code-fork
		&:before
			content '\f126'

// Text Color
.text-font 
	color color-font
.text-meta 
	color color-meta
.text-link 
	color color-link
.text-title 
	color color-title
.text-subtitle
	color color-subtitle
.text-light
	color color-ligth

// List
ul.inline-list
	list-decoration none
	li
		display inline-block