<div class="social widget">
    <h3 class="title">
        <span class="icon icon-social"></span>
        <%= __('social_media') %>
    </h3>
    <ul class="inline-list">
        <li><a class="tool" data-tip="https://www.linkedin.com/in/buglss" target="_blank" href="https://www.linkedin.com/in/buglss"><i class="icon icon-linkedin"></i></a></li>
        <li><a class="tool" data-tip="https://github.com/buglss" target="_blank" href="https://github.com/buglss"><i class="icon icon-github"></i></a></li>
        <li><a class="tool" data-tip="l.sencer.sahin@gmail.com" target="_blank" href="mailto:l.sencer.sahin@gmail.com"><i class="icon icon-envelope"></i></a></li>
        <li><a class="tool" data-tip="https://www.facebook.com/buglss" target="_blank" href="https://www.facebook.com/buglss"><i class="icon icon-facebook"></i></a></li>
        <li><a class="tool" data-tip="https://twitter.com/buglss" target="_blank" href="https://twitter.com/buglss"><i class="icon icon-twitter"></i></a></li>
        <li><a class="tool" data-tip="https://www.instagram.com/buglss" target="_blank" href="https://www.instagram.com/buglss"><i class="icon icon-instagram"></i></a></li>
    </ul>
</div>